.aboutme {
  width: 100%;
  height: 100vh;
  background-color: #BFAE87;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutme-bg {
  width: 30vw;
  height: 80%;
  background: url("src/assets/images/311498494_169921372289297_5634578455907055123_n.jpg") no-repeat center;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px 0 0 15px;
}
.aboutme-txt {
  height: 80%;
  width: 40vw;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0 15px 15px 0;
  display: flex;
  flex-direction: column;


}
.aboutme-hdl{
  font-size: 50px;
  font-family: $main-font;
  font-weight: bold;
  color: #658F70;
  text-align: center;
  margin: 30px 20px;
}
.text1 {
  font-family: $main-font;
  font-weight: bold;
  color: #594C5D;
  margin: 10px 30px;
  font-size: 20px;
  text-align: center;
}
.text2 {
  font-family: $main-font;
  color: #594C5D;
  margin: 0 30px;
  font-size: 15px;
}
.text3 {
  font-family: $main-font;
  color: #594C5D;
  font-size: 15px;
  margin: 0 30px;
}
.lockie {
  text-decoration: none;
  color: #594C5D;
  list-style: none;
}
.bookalesson-btn {
  width: 40%;
  margin: auto;
  border-radius: 10px;
  border: 0;
  background-color: #A57DB4;
  color: whitesmoke;
  padding: 10px 0;
  font-family: $main-font;
}