.bookalesson__wrapper {
  height: 70dvh;
  background-color: white;
  color: blue;
  font-family: 'Dosis', cursive;
}




.react-calendar {
  margin-top: 100px;
  display: inline;


}

.close-btn {
  cursor: pointer;
}
.form-container {
  margin-left: 30%;
  color: #594C5D;
}

