.form-container {
  width: 100%;
  height: 100vh;
  background: url("src/assets/images/35943626_10211887264923787_5706710131228540928_n.jpg") no-repeat center;
  opacity: .9;
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 884px){
    height: 130vh;
  }

}

.contact-form {
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 64%;
  min-width: 400px;
  max-width: 600px;
  border-radius: 10px 0 0 10px;
  @media only screen and (max-width: 884px){
    border-radius: 10px 10px 0 0;
  }
  @media only screen and (max-width: 465px){
    min-width: 300px;
  }


}

.form_hdl {
  color: #8D8572;
  font-family: $main-font;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 2px;
  font-size: 30px;

}

form input, form textarea {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background-color: rgba(250, 250, 250, 0.6);
  font-size: 16px;
  border-radius: 10px;
  caret-color: #658F70;

}

.form-btn {
  padding: 15px;
  background-color: #A57DB4;
  color: whitesmoke;
  font-size: 18px;
  cursor: pointer;
  border: 0;
  outline: none;
  font-family: $main-font;
  letter-spacing: 2px;
  border-radius: 15px;
  width: 120px;
  margin: 20px auto 0;
  z-index: 999;

}
.form-btn:hover{
  color: #BFAE87;
}
.contacts-form {
  display: flex;
  max-width: 800px;
  @media only screen and (max-width: 884px){
    flex-direction: column;
  }
}

.contacts {
  background-color: rgba(255, 255, 250, 0.8);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 2vw 4vw;
  height: 500px;
  width: 36%;
  max-width: 400px;
  border-radius: 0 10px 10px 0;
  @media only screen and (max-width: 884px){
    width: 100%;
    border-radius: 0 0 10px 10px;
    height: 320px;
    flex-direction: column-reverse;
  }
  @media only screen and (max-width: 465px){
    max-width: 300px;
  }
  .socials1 {
    display: flex;
    justify-content: space-around;
    font-size: 80px;
    .fa-square-facebook:hover{
      color: royalblue;
    }
    .fa-instagram:hover{
      color: transparent;
      background-image: linear-gradient(45deg, #FFDF98, #E56969, #8A49A1);
      -webkit-background-clip: text;
    }
    .socials1-icon{
      color: #8D8572;
    }
    .socials1-icon:hover{
      background-color: transparent;
    }
  }
  .socials2 {
    display: flex;
    justify-content: space-around;
    font-size: 40px;
    .socials2-icon{
      color: #A57DB4;
    }
    .socials2-icon:hover{
      background-color: transparent;
    }
  }
  .contact-info {
    display: flex;
    flex-direction: column;
    padding: 5px;
    .fa-phone{
      font-size: 30px;
      text-align: center;
    }

  }
  .form-icon {
    margin-bottom: 15px;
    font-family: $main-font;
    font-size: 20px;
    font-weight: 700;
    color: #8D8572;
  }
}



