.hero {
  background-image: url("src/assets/images/35943626_10211887264923787_5706710131228540928_n.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  //justify-content: center;
  //align-items: center;
  height: calc(100vh - 100px);
  width: 100%;
  .hero__socials {
    position: fixed;
    display: grid;
    flex-direction: column;
    justify-content: center;
    margin-top: 12%;
    font-family: $main-font;
    transform: translate(-360px, 0);
  }
  .socials-icon {
    color: #fff;
    background-color: rgba(5, 5, 2, 0.4);
    font-size: 2rem;
    text-decoration: none;
    display: block;
    margin: 0.3rem;
    padding: 8%;
    width: 170%;
    text-align: right;
    border-radius: 50px;
    transition: 0.7s;

  }
  .socials-icon:hover {
    transform: translate(170px, 0);

  }
  .socials-icon i {
    font-size: 3rem;
    width: 5rem;
    opacity: 0.6;

  }
  .socials-icon i:hover {
    opacity: 1;
  }
  .fa-square-facebook {
    color: dodgerblue;
  }
  .fa-instagram {
    color: transparent;
    background-image: linear-gradient(45deg, #FFDF98, #E56969, #8A49A1);
    -webkit-background-clip: text;
  }
  .fa-youtube {
    color: red;
  }
  .fa-patreon {
    color: rgb(255, 66, 77)
  }
}


.heroB {
  height: 80vh;
  width: 100%;
  background-color: #BFAE87;
}